html, body, section, article, h1, h2, p, strong, em, a, ul {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  list-style-type: none;

  box-sizing: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;
}

html {
  background: #111;
  color: #fff;
}

h1 {
  font-family: 'Inconsolata', sans-serif;
  visibility: hidden;
}

content {
  display: block;
  width: 600px;
  margin: auto;
  /*border: 1px solid red;*/
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.coord-grid {
  width: 306px;
  margin: auto;
  position: relative;
  margin-top: 20px;
}

.coord-grid li {
  float: left;
  display: block;
  width: 100px;
  height: 60px;
  border: solid 1px black;
  text-align: center;
}

#middle-block {
  border: solid 1px red;
}

canvas {
  display: block;
  background: #fff;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #000;
}
