html, body, section, article, h1, h2, p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  box-sizing: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;
}

html {
  background: #111;
  color: #fff;
}

content {
  display: block;
  width: 600px;
  margin: auto;
  /*border: 1px solid red;*/
}

canvas {
  display: block;
  background: #fff;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #000;
}
